* {
   margin: 0;
   padding: 0;
   text-decoration: none;
   list-style: none;
}

body {
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-content: center;
   background-color: rgb(136, 199, 136);
   margin: 30px 20px;
   font-family: Arial, Helvetica, sans-serif;
}

.head {
   color: white;
   text-align: center;
   background-color: #344e41;
   padding: 20px;
}

.middle {
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;
   margin: 30px 0 5px 0;
}

.error {
   display: flex;
   align-items: center;
   gap: 15px;
   font-size: 15px;
   color: #f96464;
   font-weight: bold;
   margin-bottom: 30px;
   display: none;
   justify-content: left;
}
.butt {
   width: 80%;
   height: 40px;
   padding: 0 10px;
   border: none;
   border-radius: 7px;
   font-size: 16px;
   outline: none;
   border: none;
}

.add-todo-btn {
   width: 35%;
   background-color: rgb(37, 63, 37);
   padding: 7px;
   border-radius: 7px;
   color: white;
   margin-left: 20px;
   outline: none;
   border: none;
   font-size: 16px;
}

.inp1 {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   border-bottom: 1px solid #344e41;
   font-size: 20px;
}

input[type="checkbox"] {
   -webkit-appearance: none;
   appearance: none;
   width: 20px;
   height: 20px;
   border: 0.15em solid #344e41;
   border-radius: 50%;
   display: grid;
   place-content: center;
   cursor: pointer;
   margin-right: 10px;
}

input[type="checkbox"]::before {
   content: "";
   width: 14px;
   height: 14px;
   transform: scale(0);
   transition: 120ms transform ease-in-out;
   border-radius: 50%;
   box-shadow: inset 5em 5em #344e41;
}

input[type="checkbox"]:checked::before {
   transform: scale(1);
}

.foot {
   /* width: 100%; */
   background-color: white;
   padding: 25px;
   line-height: 30px;
   margin-top: 30px;
   border-radius: 10px;
   box-shadow: 0 15px 30px #344e41;
   /* height: 400px; */
}

.bin-icon {
   display: flex;
   align-items: center;
   cursor: pointer;
}

.completed {
   text-decoration: line-through;
}

.text-todo{
   width: 70%;
   word-wrap: break-word;
   line-height: 20px;
   /* display: flex;
   justify-content: flex-start; */
}

@media screen and (min-width: 796px) {
   body {
      margin-top: 30px;
      justify-content: flex-start;
   }

   .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .head,
   .middle,
   .foot,
   .error {
      width: 50%;
   }
}
